{% extends "topnav.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
    <h1>Zarejestruj się</h1>
    <form action="#" method="post">
      <label for="name"><b>Imię:</b></label>
      <input type="text" placeholder="Podaj imię" name="name" />
      <label for="surname"><b>Nazwisko:</b></label>
      <input type="text" placeholder="Podaj nazwisko" name="surname" />
      <label for="username"><b>Login:</b></label>
      <input type="text" placeholder="Podaj login" name="username" />
      <label for="password"><b>Hasło:</b></label>
      <input type="password" placeholder="Podaj hasło" name="password" />
        <div class="btn_holder">
      <button type="submit">Zarejestruj</button>
        </div>
    </form>
    <div class="link_holder">
        <a href="login">Masz już konto? Zaloguj się.</a>
    </div>

{% endblock %}